.app-card {
    position: relative;
    background-color: var(--orange-web);
    padding: 30px;
    border-radius: var(--radius-2);
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.app .section-subtitle {
    font-size: var(--fs-6);
}

.app .section-title {
    color: var(--white);
    margin-block-end: 40px;
}

.app .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.app .app-link {
    background-color: var(--white);
    min-height: 50px;
    padding-inline: 20px;
    border-radius: var(--radius-10);
    display: grid;
    place-content: center;
    outline: 4px solid var(--white_15);
}

.app .app-link .img {
    width: 100px;
}

.app-card::before,
.app-card::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

.app-card::before {
    width: 80px;
    height: 130px;
    background-image: url('/images/app-shape-1.png');
    top: -50px;
    right: 20px;
}

.app-card::after {
    width: 100px;
    height: 150px;
    background-image: url('/images/app-shape-2.png');
    bottom: -50px;
    left: 20px;
}