.back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: var(--orange-web);
    color: var(--white);
    font-size: 20px;
    padding: 8.5px 15px;
    border-radius: 50%;
    box-shadow: var(--shadow-1);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-1);
    z-index: 4;
}

.back-top-btn:is(:hover, :focus) {
    background-color: var(--onyx);
}

.back-top-btn.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
}